body{
  width: auto;
  height: auto;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inner_full{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#full{
  width:100%;
  height: auto;
  margin: auto;
}
#inner_full{
  width: 80%;
  height auto;
  margin: auto;

}
#header{
  width:100%;
  height:50px;
  color:black;
  font-family: Staatliches;
  font-size: 40px;
  justify-content: center;
}

#body{
  width:100%;
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -40px;
  margin-top: 30px;
}
.rounded{
  border: 3px solid red;
  background-color: #fc7474;
}

h1{
  cursor: pointer;
}



.jumbotron{
  background-color:pink !important;
}
